//variables across site 

$dark: rgb(14, 20, 24);
$peri5: rgb(16, 15, 62); 
$peri4: rgb(25, 28, 88);
$peri3: rgb(75, 97, 188);
$peri2: rgb(64, 96, 229);
$peri1: rgb(116, 151, 233);
$light: rgb(233, 240, 255);
