body{
	font-weight: 300;
	h5 {
		font-weight: 300;	
	}
}

.page-outer-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projin-wrap{
	// height: '40rem'; 
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.projin-head{
	height: 16rem;
	width: 100%;

	@include breakpoint(sm){
		height: 100vh;
	}
}

.projin-head-text{
	@include breakpoint(sm){
	display:block	
	}
	display: none;
	position: absolute;
	left: 180px;
	top: 250px;
	width: 19rem;
	h2{
		margin-bottom: 0;
		font-size: 3.1rem;
	}
}


.projin-head-text-m{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	max-width: 1015px;
	padding: 2rem;
	@include breakpoint(sm){
		display: none;
	}
}

.cf-wrap{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 2rem;
	width: 80%;
	max-width: 1015px;	
	margin-top: 4rem;
	margin-bottom: 3rem;
	@media (min-width:880px){
		flex-direction: row;
		justify-content: space-between;
	}
}

.overviewbox{
	@media (min-width:880px){
		max-width: 60%;
	}
}

.databox{
	font-size: .9rem;
	padding: 2rem 3rem;
	margin: 3rem 0;
	width: 100%;
	justify-self: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: stretch;

	@media (max-width: 440px){
		width: 60vw;
	} 

	@media (min-width:880px){
		max-width: 30%;
		justify-content: space-between;
		margin: 0 0 0 1.5rem;
		padding: 1.5rem 3rem;
	}
}

.db-section{
	width: 7.5rem;
	padding: .2rem;
	p{
		margin-bottom: 0rem;
	}

	@media (min-width:880px){
		width: 100%;
	}	
}

.data-title{
	font-size: .8rem;
	font-weight: 700;
	margin-bottom: 0rem;
}

.proj-sec-wrap{
	width: 100%;
}

.proj-sec{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}



.proj-sec-data{
	width: 80%;
	max-width: 1015px;
	padding: 3rem 2rem;

	h3{
		width: 75%;
	}
}

.cf-sec{
	span{
		font-weight: 700;
		color:#71B294;
	}

}

.cfsec2{
	background-color: #DAF6EA;
}

.cfsec3{
background-color: #154E5E;

@include breakpoint(sm){
	h1{
		font-size: 4rem;
	}
}

h1{
	color:rgba(0, 0, 0, 0.658);
}
h3{
	min-height: 2.2rem;
	color: white;
	text-align: center;	

	line-height: 110%;
	font-size: 1.3rem;	
}
p{
	margin-top: 3.8rem;
	color: white;
}
}

.prcs-time{
	display: flex;
	flex-direction: column;
	align-items: center;
	@include breakpoint(md){
		flex-direction: row;
		margin-top:5rem;
		justify-content: space-evenly;
		height: 60%;
		flex-wrap: wrap;
	}
	@include breakpoint(lg){
		justify-content: space-between;
		flex-wrap: nowrap;
	}
}

.prcs-time-card{
	margin: 0 1.9rem 3rem 0;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	p{
		margin-top: 1rem;
	}

	@include breakpoint(md){
		width: 28%

	}
}

.prcs-time-card-bar{
	height: 3px;
	width: 30%;
	background-color: #C5E3EA;
}