// General across all pages


//Styles for Layout.js

.header{
	width:100%;
	display:flex;
	justify-content: center;
	background-color: $dark;
	height: 3rem;
	padding:0 3rem;
}

.nav-wrap{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width:80vw;

	@include breakpoint(sm){
		align-items: center;
	}
}

.logo-link{
	justify-self: center;
	margin-top: 4px;
	cursor: pointer;
}

.logo{
	width:2.4rem;
	height:2.4rem;
}

.nav{
	display: none;
	@include breakpoint(sm){
		display:flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.navlink{
		font-size: 1rem;
		color:white;
		padding-left: 2.5rem;

		:hover{
			color:$peri2;
		}
	}
}

.sider{
	padding-top: 10px;
	font-size: 1.2rem;
	// width: 50%;
	// position: absolute;
	// right: 0;
	display:flex;
	a {
		color: $light;
		text-decoration: none;

		&[aria-current='page'] {
			color: $peri2;
		}

		:hover{
			color: $peri2
		}
	}

	@include breakpoint(sm){
	display: none;
	}
}

.nav-button{
// position: absolute;
// right: 0;
	.ant-btn{
		padding-right: 0;
	}
	.ant-btn-link{
		color:$light;
		:focus{
			color:$peri2;
		}
	}
}

.menu-item:hover{
	color: $peri2;
}

.footer{
	position: static;
	bottom: 0;	
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: wrap;
	justify-content: center;
	align-items: center;
	align-items: center;
	background-color: $dark;
	color: $light;

	p{
		margin:0;
		font-size:.8rem;
		text-align: center;
	}
}